body{    
    background-color: #002a32;
}
#anime-container>* {
    position: relative;
    left: 52%;
    padding: 1rem;
}

#anime-card {
    overflow: auto;
}

@media (min-width:768px) {
    #anime-container {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 400px 400px 400px;
    }
}