body{
    color: aliceblue;
}
#logo{
    background-color: #081c1f;
    height: 200px;
    width: 100%;
    img{
        position: relative;
        top: 50px;
        left: 50px;
        width: 100px;
        height: 100px;
    }
}