body {
    color: aliceblue;
    position: relative;
}

#logo {
    background-color: #081c1f;
    height: 200px;
    width: 100%;

    img {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50px;
        left: 50px;
        width: 100px;
        height: 100px;
    }
}
#sidebar{
    position: absolute;
    z-index: 5;
}
#footer {
    position: absolute;
    // top: 1700px;
    bottom: -50px;
}