.container {
    position: absolute;
    margin: 0;
    padding: 0;
    // width: 100%;
    .main {
        background-color: #151e20;
        width: 1515px;
        position: absolute;
        display: flex;
        flex-direction: row;

        img {
            width: 30px;
        }

        ul {

            li {
                margin: 10px;
                list-style-type: none;
            }

            div {
                flex-direction: row;
                margin: 20px;
                padding: 10px;
            }

        }

        div {
            margin: 50px 120px 40px 120px;
        }

    }
}